@font-face {
  font-family: "KyoboHand";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EarlyFontDiary";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KOTRAHOPE";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #282b30;
}

a {
  text-decoration: none;
  color: #282b30;
}

button {
  background-color: transparent;
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  padding: 0 15px;
  font-family: "Roboto", sans-serif;
  color: #282b30;
}

header {
  padding: 24px 0;
}

header h1 {
  display: flex;
  align-items: center;
  justify-content: start;
}

header h1 a {
  font-size: 24px;
}

.msg-form {
  position: relative;
  padding: 8px 12px;
  margin-bottom: 24px;
  width: 345px;
  background-color: #dfe3ee;
}

.msg-placeholder {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  color: #777;
}

.msg-placeholder.hidden {
  display: none;
}

.msg-input {
  display: block;
  width: 100%;
  line-height: 1;
  font-family: "KyoboHand";
  font-size: 16px;
  color: #3b5998;
  background-color: transparent;
  white-space: pre-wrap;
  border: none;
  outline: none;
}

.msg-input.hidden {
  display: none;
}

.theme-options {
  margin-bottom: 32px;
}

.theme-options h2 {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 16px;
}

.theme-options i {
  margin-right: 4px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.theme-options i img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.theme-font {
  margin-bottom: 24px;
}

.font-list,
.color-list {
  display: flex;
  align-items: center;
  justify-content: start;
}

.font-option,
.color-option {
  margin-right: 8px;
}

:is(.font-option, .color-option):last-child {
  margin-right: 0;
}

.font-option button {
  padding: 4px 12px;
  font-size: 14px;
  background-color: #ededed;
  border-radius: 100px;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
}

.font-option:is(.is-selected, :hover, :active) button {
  color: #fff;
  background-color: #428bca;
}

.font-option .font-01 {
  font-family: "KyoboHand";
}

.font-option .font-02 {
  font-family: "EarlyFontDiary";
}

.font-option .font-03 {
  font-family: "KOTRAHOPE";
}

.color-option {
  position: relative;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  overflow: hidden;
  transition: box-shadow 200ms ease-in-out;
}

.color-option:is(.is-selected, :hover, :active) {
  box-shadow: 0 0 0 2px #428bca;
}

.color-option button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.color-option button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 32px;
}

.color-option .color-blue {
  background-color: #3b5998;
}

.color-option .color-blue::after {
  background-color: #dfe3ee;
}

.color-option .color-green {
  background-color: #004c4c;
}

.color-option .color-green::after {
  background-color: #b2d8d8;
}

.color-option .color-pink {
  background-color: #ff0081;
}

.color-option .color-pink::after {
  background-color: #ffcae5;
}

.color-option .color-brown {
  background-color: #8d5524;
}

.color-option .color-brown::after {
  background-color: #ffdbac;
}

.export-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
  margin: 0 auto;
  color: #fff;
  background-color: #a5a5a5;
  transition: background-color 200ms ease-in-out;
}

.export-button:is(:hover, :active) {
  background-color: #428bca;
}

.export-button i {
  margin-right: 4px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.export-button i img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.export-modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.export-modal.hidden {
  display: none;
}

.export-guide {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  z-index: 100;
  white-space: nowrap;
}

.capture-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
